@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300&f[]=clash-display@200,400,700,500,600,300&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Clash Display';

}
nav{
    font-family: 'Clash Display';
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-size: inherit;
  font-weight: inherit; */
  margin-bottom: 0.5rem;
  font-weight: 500;

}
h1{
  font-size: calc(1.375rem + 1.5vw);
}
h2{
  font-size: calc(1.325rem + .9vw);
}
h3{
  font-size:1.75rem;
}
h4{
  font-size: calc(1.275rem + .3vw);
}
h5{
  font-size: 1.25rem;
}
h6{
  font-size: 1rem;
}
ul{
    padding: 0!important;
}
.top-content{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px;
gap: 41px;

width: 513px;
height: 187px;
}
.top-content h1{
    

/* Headings / H2 */

font-family: 'Clash Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 140%;
/* or 45px */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.top-content .button{
    box-sizing: border-box;
    margin: 16px;
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    
    width: 170px;
    height: 56px;
    
    background: rgba(249, 249, 249, 0.15);
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.top-content .button button{
    /* Button */


width: 106px;
height: 24px;

/* Body/Medium */

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.down-text{
max-width: 602px;
padding: 60px;

font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 27px */
word-wrap: break-word;

/* White */

color: #FFFFFF;
}


@media (max-width:768px) {
    .right-image{
    display: none;
    }
    .down-text{
        height: auto;
        width: auto;
    }
    .top-content{
        height: auto;
        width: auto;
    }
}

.font-clash{
    font-family: 'Clash Display';
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
color: #2A254B;

}
.new-ceramics{
    font-family: 'Clash Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}


.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
  margin: 100px auto;
}

@keyframes flash {
  0% {
    background-color: rgb(0, 0, 0);
    box-shadow: 32px 0 rgb(0, 0, 0), -32px 0 #FFF;
  }
  50% {
    background-color: #000000;
    box-shadow: 32px 0 rgba(0, 0, 0, 0.133), -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 rgba(134, 118, 118, 0.735);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-23 9:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
